
Pasos para accesar al cql de la B de D.txt
week1 - Getting Started with Cassandra/Envío formulario - week 1.pdf
week2-DataModel/Envío formulario - week 2.pdf
week3-AppDev-crud/Envío formulario - week 3.pdf
week4-AppDev-api/Envío formulario - week 4.pdf
week5-Cass-in-k8s/Ejercicios K8s/watch.bat
week5-Cass-in-k8s/Envío formulario - week 5.pdf
week6-App-in-k8s/Envío formulario - week 6.pdf
week7-Test-your-Apps/Envío formulario - week 7.pdf
week8-k8s-in-the-cloud/Envío formulario - week 8.pdf
